{% extends 'base.html' %}
{% block content %}

    <article class="message is-primary mt-3">
        <div class="message-header">
            <h1 class="is-size-4 has-text-weight-bold has-text-centered">DADOS DO ATENDIMENTO</h1>
        </div>
        <div class="message-body">
            <div class="container">
                <p class="p-2 mt-2"><strong>Cliente: </strong> {{ object.cliente }}</p>
                <p class="p-2 mt-2"><strong>Funcionário: </strong> {{ object.funcionario }}</p>
                <p class="p-2 mt-2"><strong>Data do atendimento: </strong> {{ object.data_consulta }}</p>
                <p class="p-2 mt-2"><strong>Hora do atendimento: </strong> {{ object.hora_consulta }}</p>
                <p class="p-2 mt-2"><strong>Serviço: </strong> {{ object.servico }}</p>
                <p class="p-2 mt-2"><strong>Situação: </strong> {{ object.situacao }}</p>
                <p class="p-2 mt-2"><strong>Observação: </strong> {{ object.observacao }}</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p> Confirma exclusão do atendimento do(a) cliente {{ object }} dia {{ object.data_consulta }}?</p>
                    <button class="button is-link is-danger has-text-weight-bold is-rounded" type="submit">Apagar</button>
                        <button class="button has-text-primary is-rounded" type="reset">
                        <a href="{% url 'atendimentos' %}"> Cancelar </a>
                        </button>
                </form>
            </div>
      </div>
    </article>

{% endblock %}