<footer class="footer has-background-primary">
        <div class="columns has-text-centered">
            <hr>
            <div class="column is-2 has-text-white has-text-left has-text-weight-bold">
                <p class="is-uppercase is-size-4 has-text-weight-bold has-text-white">Endereço</p>
                    <p class="has-text-white">Av. Roraima, 1000</p>
                    <p class="has-text-white">Bairro Camobi</p>
                    <p class="has-text-white">Santa Maria - RS</p>
                    <p class="has-text-white">CEP: 97105-000</p>
                    <p class="has-text-white">+55 (55) 3220-8273</p>
            </div>
            <div class="column is-1" style="border-right: 1px solid white;"></div>
            <div class="column is-6 has-text-white has-text-left has-text-weight-bold">
                <p class="is-uppercase is-size-4 has-text-weight-bold has-text-white has-text-centered">Viva lindamente com estética</p>
            </div>
            <div class="column is-2 has-text-centered has-text-right">
                <span class="icon has-text-primary-light">
                    <a href="#" target="_blank"><i class="fab fa-whatsapp-square fa-2x mr-2"></i></a>
                    <a href="https://www.instagram.com/douglasennes/" target="_blank"><i class="fab fa-instagram-square fa-2x mr-2"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100009193294033" target="_blank"><i class="fab fa-facebook-square fa-2x mr-2"></i></a>
                </span>
            </div>
        </div>
    </footer>

    <section class="section has-background-primary-dark p-0 m-0">
        <div class="container">
            <div class="columns is-flex is-align-items-center">
                <div class="column has-text-white has-text-weight-bold is-flex is-justify-content-center">Desenvolvido por Douglas Ennes - Politécnico/UFSM - 2021/22</div>
            </div>
        </div>
    </section>