<{% extends 'base.html' %}
{% block content %}

    <article class="message is-primary mt-3">
        <div class="message-header">
            <h1 class="is-size-4 has-text-weight-bold has-text-centered">DADOS DO FUNCIONÁRIO</h1>
        </div>
        <div class="message-body">
            <div class="container">
                <p class="p-2 mt-2"><strong>Nome: </strong> {{ object.nome }}</p>
                <p class="p-2 mt-2"><strong>Telefone: </strong> {{ object.telefone }}</p>
                <p class="p-2 mt-2"><strong>E-mail: </strong> {{ object.email }}</p>
                <p class="p-2 mt-2"><strong>Função: </strong> {{ object.funcao }}</p>
                <p class="p-2 mt-2"><strong>Data de admissão: </strong> {{ object.admissao }}</p>
                <img src="{{ funcionario.foto.thumb.url }}" class="img-fluid" alt=""/>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p> Confirma exclusão do(a) funcionário {{ object }}?</p>
                    <button class="button is-link is-danger has-text-weight-bold is-rounded" type="submit">Apagar</button>
                        <button class="button has-text-primary is-rounded" type="reset">
                        <a href="{% url 'funcionarios' %}"> Cancelar </a>
                        </button>
                </form>
            </div>
      </div>
    </article>

{% endblock %}