{% load static %}
<head class="no-js" lang="pt-br">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estética Consciente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script defer src="{% static 'js/custom.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">

</head>