{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="hero has-background-primary-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-10 is-variable has-text-centered ml-5">
                        <div class="title is-1 has-text-primary">Estética Consciente</div>
                        <div class="subtitle">
                            Nada faz uma mulher mais bonita do que acreditar que ela é linda.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
