<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    {% block head %}
        {% include 'head.html' %}
    {% endblock %}

    <body>
        <h1 class="is-size-3 has-text-weight-bold has-text-centered has-text-primary my-3">Lista de Serviços com Produtos</h1>
        <div class="message-body">
            {% if object_list %}
            <table class="table is-fullwidth is-narrow is-hoverable is-striped">
                <thead>
                    <tr>
                        <th class="has-text-primary"><abbr title="Servico"></abbr>Serviço</th>
                        <th class="has-text-primary"><abbr title="Produto">Produto</abbr></th>
                        <th class="has-text-primary"><abbr title="Quantidade">Qtd de produto</abbr></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for servicoProduto in object_list %}
                    <tr>
                        <td>{{ servicoProduto.servico }}</td>
                        <td>{{ servicoProduto.produto }}</td>
                        <td>{{ servicoProduto.quantidade }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        {% else %}
            <h2>Não existe serviços com produtos cadastrados</h2>
        {% endif %}
    </article>

    </body>
</html>