{% extends 'base.html' %}
{% block content %}

    <h1 class="is-size-3 has-text-weight-bold has-text-centered has-text-primary mb-3">SERVIÇOS</h1>
    <article class="message is-primary m-1">
        <div class="message-header">
            <form id="formListaServicos" action="" method="GET">
                <input type="hidden" name="imprimir" id="imprimir" value="">
                <div class="field is-grouped is-flex is-aling-items-center is-flex-wrap-wrap">
                    <label class="label p-2 mt-2">{{ form.nome.label }}</label>
                    <div class="control is-expanded has-icons-left">
                        {{ form.nome }}
                        <span class="icon is-small is-left"> <i class="fa fa-briefcase"></i> </span>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link has-text-weight-bold is-rounded" onclick="geraPdf('', 'formListaServicos')";>Buscar</button>
                    </div>
                    {% if object_list %}
                        <div class="control">
                            <button type="submit" class="button is-link has-text-weight-bold is-rounded" onclick="geraPdf('pdf', 'formListaServicos');">Imprimir</button>
                        </div>
                    {% endif %}
                </div>
            </form>
            <a href="{% url 'servico_adicionar' %}">
                    <button class="button is-primary is-light has-text-weight-bold has-text-right is-rounded">Novo Serviço</button>
            </a>
        </div>
        <div class="message-body">
            {% if object_list %}
            <table class="table is-fullwidth is-narrow is-hoverable is-striped">
                <thead>
                    <tr>
                        <th class="has-text-primary"><abbr title="Nome"></abbr>Nome</th>
                        <th class="has-text-primary"><abbr title="Descricao">Descrição</abbr></th>
                        <th class="has-text-primary"><abbr title="Preco">Preço</abbr></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for servico in object_list %}
                    <tr>
                        <td>{{ servico.nome }}</td>
                        <td>{{ servico.descricao }}</td>
                        <td>{{ servico.preco }}</td>
                        <td class="has-text-centered is-flex is-flex-wrap-nowrap is-justify-content-center">
                            <a href="{% url 'servico_editar' servico.pk %}">
                                <span class="icon"> <i class="fas fa-edit"></i></span>
                            </a>
                            <a href="{% url 'servico_apagar' servico.pk %}">
                                <span class="icon"> <i class="fas fa-trash-alt"></i></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

      </div>
        {% else %}
            <h2>Não existe serviços cadastrados</h2>
        {% endif %}
    </article>

{% endblock %}